.homepage {
  margin-top: 3%;
  padding-top: 3%;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
}

.homepage button.bubble {
  
  width: min-content;
  height: min-content;
  border-radius: 100%;
  background-color: var(--accent-primary);
  margin-top: 2%;
  margin-left: 45%;
  padding: 5%;
}

.homepage .bubble {
  width: min-content;
  height: min-content;
  border-radius: 100%;
  background-color: var(--accent-primary);
  margin-left: auto;
  margin-right: 36%;
  padding: 3%;
}

