
.expenses {
  display: flex;
  flex-direction: row;
  background-color: #aa65a9;
}

.expenses-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.expenses-list {
  flex: 1;
}

.list-con {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.chart-con {
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  margin-left: 20px;
  border: 1px solid #000000;
}