#modal-expenses-income {
    margin-top: 30vh;
    border-radius: 10px;
}

.dropdown-style {
    background-color: "red"
}

.modal-body {
    padding: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-footer {
    margin: 3%;
    display: flex;
    justify-content: end;
}

.modal-footer button:hover {
    background-color: var(--accent-primary-hover);
    cursor: pointer;
}

.btn-save {
    background-color: var(--accent-primary);
}