.categories{
    margin:3%;
    padding-top: 3%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 16px;
  padding-bottom: 1%;
}

.title .buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 25%;
  align-items: center;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}

.card:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-items {
  background-color: var(--secondary);
  width: 100%;
  padding: 1% 0 1% 0;
  border-radius: 10px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: minmax(150px, auto);
  row-gap: 10%;
}

.card {
  padding: 3%;
  background-color: var(--ww-white);
  /* width: 35%; */
  /* height: 90%; */
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 13px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  align-self: center;
  justify-self: center;
}

.main .card {
  width: 20%;
  height: 80%;
}

.secondary {
  margin-top: 1%;
  background-color: var(--secondary-darker);
  padding: 2%;
  border-radius: 10px;
  /**
  * temporary height, still should fix the title
  */
  height:47vh;
}

.secondary-items{
  width: 98%;
  padding: 1%;
}

.secondary-items .card-list {
  grid-template-columns: repeat(5, 20%);
  grid-auto-columns: minmax(auto, auto);
  column-gap: 0;
}

.secondary .card{
  width:25%;
  height: 80%;
}

@media (max-width:640px) {
  .categories{
    margin-top: 20%;
  }

  .categories h1{
    font-size: medium;
  }

  .categories button.button-icon{
    width: 100%;
    font-size: small;
    font-weight: 400;
  }

  .categories .card p{
    display: none;
  }

  .categories .main-items{
    padding: 3% 0;
    margin: 3% 0;
  }

  .categories .main-items .card-list{
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(80px, auto);
    row-gap: 2%;
  }

  .categories .main-items .card-list .card{
    height: 90%;
    width: 30%;
  }

  .categories .secondary h2{
    font-size: small;
  }

  .categories .secondary-items .card-list{
    grid-template-columns: repeat(3, 33.3%);
    grid-auto-rows: minmax(80px, auto);
  }

  .categories .secondary-items .card-list .card{
    height: 60%;
    width: 30%;
  }
}
