.login-register-form {
  width: 25%;
  max-height: 70%;
  margin-left: 11%;
  background-color: var(--ww-white);
  border-radius: 10px;
}

.login-register-form .title {
  background-color: var(--primary);
  margin-top: 0%;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: large;
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.login-register-form .form {
  background-color: var(--ww-white);
  max-width: 90%;
  padding: 10%;
  margin: auto;
}

.login-register-form .form half {
  padding: 2%;
  max-width: 48%;
  margin-left: auto;
  margin-right: auto;
}

.login-register-form .form input {
  margin: 2%;
  width: 90%;
  padding: 5px;
  border: 1px solid #50514f;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Inconsoloata", monospace;
  font-weight: 500;
  font-size: 18px;
  color: var(--ww-black);
}

.login-register-form .form p {
  font-weight: 600;
}

/*
* not finished
*/
.login-register-form .form button.dropdown {
  margin: 2%;
  width: 90%;
  padding: 5px;
  background-color: white;
  border: 1px solid var(--ww-black);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-size: 18px;
  text-align: start;
  color: var(--ww-black);
}

.login-register-form .buttons {
  padding: 4%;
  display: flex;
  justify-content: center;
}

.login-register-form .buttons button{
  margin-left: 5%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.login-register-form a {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--accent-primary);
  padding: 5px;
  display: block;
  align-items: center;
  text-decoration: 0;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-register-form .form .dropdown input{
  cursor: pointer;
}
