.navbar{
    padding: 1%;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 40px;
    margin: 0 auto;
    background-color: var(--primary);
}

.navbar a{
    padding: 1%;
    font-family: 'Inconsolata', monospace;
    color: var(--ww-white);
}

.navbar a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.navbar h2{
    font-size: 36px;
    font-family: 'Inconsolata', monospace;
    color: var(--ww-white);
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}

.navbar h2 a:hover{
    text-decoration: none;
}

.navbar .buttons{
    margin-left: auto;
    float: right;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}