:root {
  --primary: #9f4eca;
  --secondary: #cfb3cd;
  --secondary-darker: #B79EB5;
  --accent-primary: #4eca9f;
  --accent-primary-hover: #4abf97;
  --accent-secondary: #b3cfb5;
  --accent-secondary-hover: #a6cfa9;
  --ww-black: #50514f;
  --ww-white: #f6f8ff;
  --ww-grey: #a6a2a2;
  --hover-blue: #dadff2;
}

/**
* do the same for headings
*/

p {
  font-family: "Inconsolata", monospace;
  color: var(--ww-black);
  margin: 0;
  padding: 5px;
}

h2 {
  font-family: "Inconsolata", monospace;
  color: var(--ww-black);
  margin: 0;
  padding: 5px;
  font-weight: 700;
}

h1 {
  font-family: "Inconsolata", monospace;
  color: var(--ww-black);
  margin: 0;
  padding: 5px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}

button {
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border:0;
  border-radius: 10px;
  font-family: 'Inconsolata', monospace;
  color:var(--ww-black)
}

button:active{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

button.primary {
  background-color: var(--accent-primary);
}

button.primary:hover {
  background-color: var(--accent-primary-hover);
  cursor: pointer;
}

button.primary-outlined {
  background-color: var(--ww-white);
  border-color: var(--accent-primary);
  border:1px solid #4abf97;
  color: var(--accent-primary);
}

button.primary-outlined:hover {
  background-color: var(--accent-primary);
  color: var(--ww-black);
  cursor: pointer;
}

button.secondary{
  background-color: var(--accent-secondary);
}

button.secondary:hover{
  background-color: var(--accent-secondary-hover);
  cursor: pointer;
}

input {
  width: 90%;
  padding: 5px;
  border: 1px solid #50514f;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Inconsoloata", monospace;
  font-weight: 500;
  font-size: 18px;
  color: var(--ww-black);
}

.icon-color-dropdown{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.icon-color-dropdown:hover{
  background-color: var(--hover-blue);
}

.dropdown{
  background-color: var(--ww-white);
}

.dropdown:hover{
  background-color: var(--hover-blue);
  cursor: pointer;
}

.icon-color-dropdown-item {
  border: 10px black;
  width: 100%;
}

.icon-color-dropdown-item img {
  width: 80%;
  height: 80%;
  padding: 2px;
}